/*  - centers page on the screen 
    - limits the wifth to 600px
    - uses a verticcal layout
    - takes up full height of the viewport
*/

body{
    background: linear-gradient(to bottom, #161625, #1d2e55);
    overflow: hidden;
    font-family: sans-serif;
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HTML heading
    - centers the heading
    - rem is scalable unit based on the root font size, usually 1 rem is 16px
    - 1rem top and bottom margin
    - 0 margin on left and right
*/

h2 {
    text-align: center;
    margin: 1rem 0;
    color: #b5b5ea
    
}

/*
    - grows to fill available vertical space
    - adds vertical scroll bar for messages
    - ???? background color
    - adds padding around the messages
*/


/* chat container (chatwindow + inpiutbox) */
.chat_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.chat_window {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    background: transparent;
    min-height: 0;
    display: flex;
    flex-direction: column;
    
}

.chat_window::-webkit-scrollbar {
    width: 10px;
}

.chat_window::-webkit-scrollbar-thumb {
    background: #6a6aa3;
    border-radius: 10px;
}

.chat_window::-webkit-scrollbar-track {
    background: #152446;
    border-radius: 10px;
}

.chat_window::-webkit-scrollbar-thumb:hover {
    background: #5a5aa3;
}

/*
    - adds space between messages
*/
.message {
    margin-bottom: 1rem;
    word-wrap: break-word;
    max-width: 80%;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    text-align: left;  
}

/*
    - Aligns user messages to the right
    - ??? colour for user messages
*/
.message.user {
    color: #c6daef;
    background-color: rgba(16, 33, 73, 0.8);
    align-self: flex-end;
}

/*
    - Align's bot messgaes to the left
    - ??? colour for bot messages
*/
.message.bot {
    color: #c6daef;
    background-color: rgba(7, 18, 43, 0.8);
    align-self: flex-start;
}


.input-box {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    
}
/* 
    - Input box is a flex container, to take up all available space excluding the button
*/
.input-box textarea {
    flex: 1;
    min-height: 5rem;
    max-height: 30vh;
    padding: 0.5rem 1rem;
    border: none;
    margin-right: 1.5rem;
    font-size: 1rem;
    resize: none;
    background-color: #e5e5ff;
    border-radius: 15px;
}

#send {
    color: #e5e5ff;

    font-weight: 550;
    font-size: 1.2rem;
}

/*
    - Send button
    - adds margin to the left of the button
    - adds padding to the button
    - sets font size to 1rem
*/
.input-box button {
    width: 5rem;
    max-width: 1000px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    background-color: #6060a5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease;
}

.input-box button:active {
    transform:scale(0.97);
}

.chat-window-container {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    position: relative;
}



/* Scroll to bottom button */
.scroll-button {
    position: absolute;
    bottom: 1rem;;
    z-index: 100;
    left: 50%;
    width: 30px;
    height: 30px;
    background: #303055;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.scroll-button:active {
    transform: scale(0.8);
}